@import 'variables';

@mixin box{
    position: relative;
    left: 0;
    top: 0;
    background-color: $colorAccent;
    height: 100px;
    width: 100px;
};
.parent {
    background-color: $colorRed;
    height: 200px;
    width: 200px;
}
.child {
    @include box;
    transition:transform 1s ease-in-out; // affects transform action 
}
.container1 {
    .child {
        transform: translateX(100%);
    } 
}

.container2 {
    .child {
        // animation:name=Left-Right duration=1s timing-function=ease-in-out delay=500ms iteration-count=3 direction=alternate fill-mode=forwards;
        animation:Left-Right 1s ease-in-out 500ms 3 alternate forwards;

    }
}

@keyframes Left-Right {
    0%{
        transform: translateX(0);
    }

    33% {
        transform: translateY(100%);

    }
    66% {
        transform: translateY(100%) translateX(100%);

    }
    100%{
        transform: translateX(100%);

    }
}

