// Colors
$colorDarkBlue: hsl(233, 26%, 24%);
$colorLimeGreen: hsl(136, 65%, 51%);
$colorBrightCyan: hsl(192, 70%, 51%);
$colorGrayishBlue: hsl(233, 8%, 62%);
$colorLightGrayishBlue: hsl(220, 16%, 96%);
$colorVeryLightGray: hsl(0, 0%, 98%);
$colorWhite: hsl(0, 0%, 100%);
$colorRed:rgb(231,73,32);
$colorDarkRed:rgba(231,73,32,0.5);
// Font Sizes
$fontSm: 0.5rem; 
$fontMed: 1rem; 
$fontLg: 1.5rem;
$fontXlg: 2.5rem;