// typo($font-size, $font-weight, $letter-spacing)

.typo-header {
  &-primary {
    @include typo(6rem, 400, 3.5rem);

  }

  &-sub {
    @include typo(2rem, 600, 1.7rem);
  }

  &-secondary {

    @include typo(3.5rem, 600, 1rem);

    text-align: center;
    background-image: linear-gradient(to right,rgb(19, 136, 19), rgb(1, 82, 1));
    -webkit-background-clip:text; // mask
    color: transparent; // mask

  }

  &-tertiary{
    font-size: 2.5rem;
    font-weight: 700;
    font-variant: small-caps;
  }
}

.paragraph{
  font-size: 2rem;
  font-weight: 400;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
