.u-text-center {
    text-align: center;
}
.u-margim-bottom-sm {
    margin-bottom: 2rem;
}
.u-margim-bottom-med {
    margin-bottom: 4rem;
}
.u-margim-bottom-big {
    margin-bottom: 8rem;
}
.u-border-red {
    border:1px solid red;
}