/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.evenColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.evenColumns > * {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* flex: 
This is the shorthand for flex-grow, flex-shrink and flex-basis combined. 
The second and third parameters (flex-shrink and flex-basis) are optional.  

flex-basis
This defines the default size of 
an element before the remaining space is distributed. 

*/
.gridish1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gridish1 > * {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  height: 15vh;
}

.gridish2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.gridish2 > * {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  height: 15vh;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar > *:nth-child(1) {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  min-width: 25ch;
}

.sidebar > *:nth-child(2) {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  min-width: 3ch;
}

/* 
flex 
[flex-grow] [flex-shrink] [flex-basis]
[max]       [min]         [ideal size]
*/
.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.child1 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.child2 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.child3 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.child4 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.child5 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.child6 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.parent2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.child7 {
  border: 1px solid black;
  padding: 6px;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  background-color: gray;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}
/*# sourceMappingURL=tutorial-flex.css.map */