<html> 
<head> 
	<title>res.render() Demo</title> 
</head> 
<body> 
	<h2>Welcome to Express Dev geekforgeek</h2> 
	<button onclick="myFunc()">Click Me</button>
</body> 
<script>
	function myFunc(){
		alert('hello there')
	}
</script>
</html> 
